## 10. 行数のカウント

In [1]:
print(sum([1 for _ in open('data_section2/popular-names.txt')]))

2780

In [4]:
!wc data_section2/popular-names.txt

 2779 11120 55025 data/popular-names.txt

## 11. タブをスペースに置換

In [15]:
lines = []
with open("data_section2/popular-names.txt", "r") as f:
    for data in f:
        lines.append(data.strip().replace("\t"," ")+"\n")
        
with open("data_section2/popular-names-space.txt", "w") as f:
    f.writelines(lines)

In [ ]:
!expand -t 1 data_section2/popular-names.txt

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [16]:
col1 = []
col2 = []
with open("data_section2/popular-names.txt", "r") as f:
    for data in f:
        line = data.strip().split("\t")
        col1.append(line[0]+"\n")
        col2.append(line[1]+"\n")
        
with open("data_section2/col1.txt", "w") as f:
    f.writelines(col1)
with open("data_section2/col2.txt", "w") as f:
    f.writelines(col2)

In [ ]:
!cut -f 1 data_section2/popular-names.txt

In [ ]:
!cut -f 2 data_section2/popular-names.txt

## 13. col1.txtとcol2.txtをマージ

In [6]:
import numpy as np
import pandas as pd

col1 = []
with open("data_section2/col1.txt", "r") as f:
    for data in f:
        col1.append(data.strip())
col2 = []
with open("data_section2/col2.txt", "r") as f:
    for data in f:
        col2.append(data.strip())
        
data = pd.DataFrame(np.array([col1,col2]).T)
data.to_csv('data_section2/col1_col2.txt', sep='\t', index=False)

In [ ]:
!paste -d '\t' data_section2/col1.txt data_section2/col2.txt

## 14. 先頭からN行を出力

In [8]:
N = 10
with open("data_section2/popular-names.txt", "r") as f:
    for i, data in enumerate(f):
        if i < N:
            print(data.strip())
        else:
            break

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

In [9]:
!head -n 10 data_section2/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880
Minnie	F	1746	1880
Margaret	F	1578	1880
Ida	F	1472	1880
Alice	F	1414	1880
Bertha	F	1320	1880
Sarah	F	1288	1880

## 15. 末尾のN行を出力

In [14]:
N = 10
line_count = sum([1 for _ in open('data_section2/popular-names.txt')])
with open("data_section2/popular-names.txt", "r") as f:
    for i, data in enumerate(f):
        if line_count - i < N+1:
            print(data.strip())

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [15]:
!tail -n 10 data_section2/popular-names.txt

Liam	M	19837	2018
Noah	M	18267	2018
William	M	14516	2018
James	M	13525	2018
Oliver	M	13389	2018
Benjamin	M	13381	2018
Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

## 16. ファイルをN分割する

In [7]:
import pandas as pd
N = 10

data = pd.read_csv('data_section2/popular-names.txt', sep='\t', header=None)

file_length = len(data) // 10
for i in range(N):
    data.iloc[i*file_length:(i+1)*file_length].to_csv('data_section2/popular-names-' + str(i) + ".txt", sep='\t', index=False, header=None)

In [3]:
!split -n 10 data_section2/popular-names.txt data_section2/popular-names

## 17. １列目の文字列の異なり

In [20]:
col1 = []
with open("data_section2/col1.txt", "r") as f:
    for data in f:
        col1.append(data.strip())
        
set(col1)

In [ ]:
!cut -f 1 data_section2/popular-names.txt | sort | uniq

## 18. 各行を3コラム目の数値の降順にソート

In [26]:
import pandas as pd
N = 10

data = pd.read_csv('data_section2/popular-names.txt', sep='\t', header=None)

data.sort_values(by=2, ascending=False)

            0  1      2     3
1340    Linda  F  99689  1947
1360    Linda  F  96211  1948
1350    James  M  94757  1947
1550  Michael  M  92704  1957
1351   Robert  M  91640  1947
...       ... ..    ...   ...
27      Annie  F   1326  1881
28     Bertha  F   1324  1881
8      Bertha  F   1320  1880
29      Alice  F   1308  1881
9       Sarah  F   1288  1880

[2780 rows x 4 columns]

In [ ]:
!sort -g -r -k 3 data_section2/popular-names.txt

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [32]:
import collections

col1 = []
with open("data_section2/col1.txt", "r") as f:
    for data in f:
        col1.append(data.strip())
        
collections.Counter(col1).most_common()

In [ ]:
!cut -f 1 data_section2/popular-names.txt | sort | uniq -c | sort -k 1 -n -r